{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row custyle">
            <table class="table table-striped custab">
                <thead>
                <a href="{{ path('app_register') }}" class="btn btn-primary btn-xs pull-right mb-4"><b>+</b> Créer un membre</a>
                <tr>
                    <th>ID</th>
                    <th>email</th>
                    <th>roles</th>
                    <th>password</th>
                    <th>nom</th>
                    <th>pseudo</th>
                    <th>prenom</th>
                    <th>civilite</th>
                    <th>status</th>
                     <th>date_enregistrement</th>
                    <th class="text-center">Action</th>
                </tr>
                </thead>
                {% for membrex in membre %}
                    <tr>
                        <td>{{ membrex.id }}</td>
                        <td>{{ membrex.email }}</td>
                        <td> {% for role in membrex.roles %} role   {% endfor %}</td>
                        <td>{{ membrex.password }}</td>
                        <td>{{ membrex.nom }}</td>
                        <td>{{ membrex.pseudo }}</td>
                        <td>{{ membrex.prenom }}</td>
                        <td>{{ membrex.civilite }}</td>
                        <td>{{ membrex.status }}</td>
                         <td>{{ membrex.date_enregistrement }}</td>
                        <td class="text-center"><a class='btn btn-info btn-xs' href="{{ path('admin_salle_edit', { id: salle.id }) }}"><i class="far fa-edit"></i> Edit</a> <a href="{{ path('admin_salle_delete', { id: salle.id }) }}" class="btn btn-danger btn-xs"><i class="far fa-trash-alt"></i> Del</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}