{% extends 'admin_base.html.twig' %}

{% block title %}LokiSalle - Admin Office{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <script src="{{ asset('js/chart.min.js') }}"></script>
    <script src="{{ asset('js/bs-init.js') }}"></script>
    <script src="{{ asset('js/theme.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="d-sm-flex justify-content-between align-items-center mb-4">
            <h3 class="text-dark mb-0">Dashboard</h3>
        </div>

        <div class="row">
            <div class="col-md-6 col-xl-3 mb-4">
                <div class="card shadow border-left-primary py-2">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col mr-2">
                                <a href="{{ path('admin_salle') }}">
                                    <div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span>Nombre de bananes</span></div>
                                    <div class="text-dark font-weight-bold h5 mb-0"><span>{{ salles }}</span></div>
                                </a>
                            </div>
                            <div class="col-auto"><i class="fas fa-calendar fa-2x text-gray-300"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3 mb-4">
                <div class="card shadow border-left-success py-2">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col mr-2">
                                <a href="{{ path('admin_produit') }}">
                                    <div class="text-uppercase font-weight-bold text-xs mb-1"><span>Nombre de produits en vente</span></div>
                                    <div class="text-dark font-weight-bold h5 mb-0"><span>{{ produits }}</span></div>
                                </a>
                            </div>
                            <div class="col-auto"><i class="far fa-clipboard fa-2x text-gray-300"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3 mb-4">
                <div class="card shadow border-left-warning py-2">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col mr-2">
                                <a href="{{ path('admin_membre') }}">
                                    <div class="text-uppercase font-weight-bold text-xs mb-1"><span>Nombre de membres</span></div>
                                    <div class="text-dark font-weight-bold h5 mb-0"><span>{{ membres }}</span></div>
                                </a>
                            </div>
                            <div class="col-auto"><i class="fas fa-users fa-2x text-gray-300"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3 mb-4">
                <div class="card shadow border-left-warning py-2">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col mr-2">
                                <a href="{{ path('admin_commande') }}">
                                    <div class="text-uppercase font-weight-bold text-xs mb-1"><span>Nombre de commandes</span></div>
                                    <div class="text-dark font-weight-bold h5 mb-0"><span>{{ commandes }}</span></div>
                                </a>
                            </div>
                            <div class="col-auto"><i class="fas fa-dollar-sign fa-2x text-gray-300"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3 mb-4">
                <div class="card shadow border-left-warning py-2">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col mr-2">
                                <a href="{{ path('admin_commande') }}">
                                    <div class="text-uppercase font-weight-bold text-xs mb-1"><span>Stock disponible</span></div>
                                    <div class="text-dark font-weight-bold h5 mb-0"><span>{{ stocks }}</span></div>
                                </a>
                            </div>
                            <div class="col-auto"><i class="fas fa-box fa-2x text-gray-300"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}