{% extends 'admin_base.html.twig' %}

{% block title %}Gestion des produits{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <script src="{{ asset('js/chart.min.js') }}"></script>
    <script src="{{ asset('js/bs-init.js') }}"></script>
    <script src="{{ asset('js/theme.js') }}"></script>
{% endblock %}

{% block body %}
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <div class="container-fluid">
                    <h3 class="text-dark mb-4">Gestion de produits LokiSalle</h3>
                    <div class="card shadow">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 font-weight-bold">Produits</p>
                        </div>
                        <div class="card-body">
                            <a href="{{ path('admin_produit_create') }}" class="btn btn-primary btn-xs pull-right mb-4"><b>+</b> Créer un listing produit</a>
                            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                                <table class="table dataTable my-0" id="dataTable">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Date de début de la réservation</th>
                                        <th>Date de fin de la réservation</th>
                                        <th>Salle</th>
                                        <th>Prix</th>
                                        <th>État</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        {% for produit in produits %}
                                            <tr>
                                                <td>{{ produit.id }}</td>
                                                <td>{{ produit.getDateArrivee() | date('d/m/Y') }}</td>
                                                <td>{{ produit.getDateDepart() | date('d/m/Y') }}</td>
                                                <td>{{ produit.getSalle() }}</td>
                                                <td>{{ produit.prix | number_format(2, '.', ',') }} €</td>
                                                <td>{{ produit.etat }}</td>
                                                <td class="text-center"><a class='btn btn-info btn-xs' href="{{ path('admin_produit_edit', { id: produit.id }) }}"><i class="far fa-edit"></i> Edit</a> <a href="{{ path('admin_produit_delete', { id: produit.id }) }}" class="btn btn-danger btn-xs"><i class="far fa-trash-alt"></i> Del</a></td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td><strong>ID</strong></td>
                                        <td><strong>Date de début de la réservation</strong></td>
                                        <td><strong>Date de fin de la réservation</strong></td>
                                        <td><strong>Salle</strong></td>
                                        <td><strong>Prix</strong></td>
                                        <td><strong>État</strong></td>
                                        <td class="text-center"><strong>Action</strong></td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}