{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row custyle">
            <table class="table table-striped custab">
                <thead>
                <a href="{{ path('admin_produit_create') }}" class="btn btn-primary btn-xs pull-right mb-4"><b>+</b> Créer un produit</a>
                <tr>
                    <th>ID</th>
                    <th>Date de début de la réservation</th>
                    <th>Date de fin de la réservation</th>
                    <th>Salle</th>
                    <th>Prix</th>
                    <th>État</th>
                    <th class="text-center">Action</th>
                </tr>
                </thead>
                {% for produit in produits %}
                    <tr>
                        <td>{{ produit.id }}</td>
                        <td>{{ produit.getDateArrivee() | date('d/m/Y') }}</td>
                        <td>{{ produit.getDateDepart() | date('d/m/Y') }}</td>
                        <td>{{ produit.getSalle() }}</td>
                        <td>{{ produit.prix }}</td>
                        <td>{{ produit.etat }}</td>
                        <td class="text-center"><a class='btn btn-info btn-xs' href="{{ path('admin_produit_edit', { id: produit.id }) }}"><i class="far fa-edit"></i> Edit</a> <a href="{{ path('admin_produit_delete', { id: produit.id }) }}" class="btn btn-danger btn-xs"><i class="far fa-trash-alt"></i> Del</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}