<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <style>{% block styles %}{% endblock %}</style>
    {% block stylesheets %}{% endblock %}

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    <script src="https://kit.fontawesome.com/d3381635c3.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{{ asset('css/footer.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

    <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
        <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
            <div class="input-group">
                <h3>Loki<span>Salle </span></h3>
            </div>
            <ul class="nav navbar-nav flex-nowrap ml-auto">
                <div class="d-none d-sm-block topbar-divider"></div>
                <li class="nav-item dropdown no-arrow" role="presentation">
                    <div class="nav-item dropdown no-arrow">
                        <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><i class="fas fa-user"></i><span class="d-none d-lg-inline mr-2 text-gray-600 small"> Connecté en tant qu'admin - {{ app.user.pseudo }}</span></a>
                            <div class="dropdown-menu shadow dropdown-menu-right animated--grow-in" role="menu">
                                <a class="dropdown-item" role="presentation" href="{{ path('admin_membre') }}"><i class="fas fa-users fa-sm fa-fw mr-2 text-gray-400"></i></i>&nbsp;Gestion des utilisateurs</a>
                                <a class="dropdown-item" role="presentation" href="{{ path('admin_produit') }}"><i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Gestion des produits</a>
                                <a class="dropdown-item" role="presentation" href="{{ path('admin_salle') }}"><i class="fas fa-house-damage fa-sm fa-fw mr-2 text-gray-400"></i></i>&nbsp;Gestion des salles</a>
                                <div class="dropdown-divider"></div><a class="dropdown-item" role="presentation" href="#">
                                <a class="dropdown-item" role="presentation" href="{{ path('index') }}"><i class="fas fa-undo fa-sm fa-fw mr-2 text-gray-400"></i></i> Retour au site</a>
                                <a class="dropdown-item" role="presentation" href="{{ path('app_logout') }}"><i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Logout</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
        {% for message in app.flashes('errors') %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}
    </div>

    <div style="margin-left: 30px; margin-right: 30px;">
        {% block body %}{% endblock %}
    </div>

    {% block javascripts %}{% endblock %}
</body>
</html>