{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
{% endblock %}

{% block title %}
    KCUS Paris
{% endblock %}

{% block body %}
    <section class="hero-area bg-1 text-center overly background-center">
        <!-- Container Start -->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- Header Contetnt -->
                    <div class="content-block">
                        <div class="short-popular-category-list text-center">
                            {% if produits %}
                                <h2>Nos matières de saccoches phares</h2>
                                <ul class="list-inline">
                                    {% for matiere in matieres %}
                                        <li class="list-inline-item">
                                            <a href=""><i class="fas fa-leaf"></i> {{ matiere.matiere }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="popular-deals section bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title">
                        <h2>Produits disponibles</h2>
                        <p>Kcus Paris vous propose des saccoches pour accomoder toutes vos envies vestimentaires.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                {% for produit in produits %}
                    {% if produit.stock >= 1 %}
                        <div class="col-sm-12 col-lg-4">
                            <!-- product card -->
                            <div class="product-item bg-light">
                                <div class="card">
                                    <div class="thumb-content">
                                        <a href="{{ path('single_produit_page', { 'id': produit.id }) }}">
                                            <img class="card-img-top img-fluid" src="{{ asset('/images/salles/' ~ produit.salle.photo) }}" alt="Card image cap">
                                        </a>
                                    </div>

                                    <div class="card-body">
                                        <h4 class="card-title"><a href="{{ path('single_produit_page', { 'id': produit.id }) }}">{{ produit.salle.titre }}</a></h4><span class="price">{{ produit.prix | number_format(2, '.', ',') }} €</span>
                                        <ul class="list-inline product-meta">
                                            <li class="list-inline-item">
                                                <a href="{{ path('single_produit_page', { 'id': produit.id }) }}"><i class="fas fa-arrows-alt-h"></i> {{ produit.salle.taille }}</a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a href="{{ path('single_produit_page', { 'id': produit.id }) }}"><i class="fas fa-palette"></i> {{ produit.salle.couleur }}</a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a href="{{ path('single_produit_page', { 'id': produit.id }) }}"><i class="fas fa-leaf"></i> {{ produit.salle.matiere }}</a>
                                            </li>
                                        </ul>
                                        <p class="card-text">{{ produit.salle.description }}</p>
                                        <div class="product-ratings">
                                            <ul class="list-inline">
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>

    <section class=" section">
        <!-- Container Start -->
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Section title -->
                    <div class="section-title">
                        <h2>Recherchez la saccoche parfaite</h2>
                        <p>Filtrez, cherchez, craquez... utilisez les filtres pour trouver la saccoche qui vous conviens.</p>
                    </div>
                    <div class="row">
                        <!-- Category list -->
                        <div class="col-lg-4 offset-lg-0 col-md-6 offset-md-1 col-sm-7 col-7">
                            <div class="category-block">
                                <div class="header">
                                    <i class="fas fa-leaf icon-bg-1"></i>
                                    <h4>Matières</h4>
                                </div>
                                <ul class="category-list" >
                                    {% for matiere in matieres %}
                                        <li><a href="#">{{ matiere.matiere }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div> <!-- /Category List -->
                        <!-- Category list -->
                        <div class="col-lg-4 offset-lg-0 col-md-6 offset-md-1 col-sm-7 col-7">
                            <div class="category-block">
                                <div class="header">
                                    <i class="fas fa-arrows-alt-h icon-bg-2"></i>
                                    <h4>Tailles</h4>
                                </div>
                                <ul class="category-list" >
                                    {% for taille in tailles %}
                                        <li><a href="#">{{ taille.taille }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div> <!-- /Category List -->
                        <!-- Category list -->
                        <div class="col-lg-4 offset-lg-0 col-md-6 offset-md-1 col-sm-7 col-7">
                            <div class="category-block">
                                <div class="header">
                                    <i class="fas fa-palette icon-bg-3"></i>
                                    <h4>Couleurs</h4>
                                </div>
                                <ul class="category-list" >
                                    {% for couleur in couleurs %}
                                        <li><a href="#">{{ couleur.couleur }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div> <!-- /Category List -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Container End -->
    </section>
{% endblock %}
