{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
{% endblock %}

{% block title %}
    LokiSalle
{% endblock %}

{% block body %}
    <section class="hero-area bg-1 text-center overly background-center">
        <!-- Container Start -->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- Header Contetnt -->
                    <div class="content-block">
                        <div class="short-popular-category-list text-center">
                            {% if produits %}
                                <h2>Popular Category</h2>
                                <ul class="list-inline">
                                    {% for category in categories %}
                                        <li class="list-inline-item">
                                            <a href=""><i class="fas fa-users"></i> {{ category.categorie }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="popular-deals section bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title">
                        <h2>Salles disponibles</h2>
                        <p>Lokisalle vous propose des salles pour accomoder tout vos evenements.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                {% for produit in produits %}
                    {% if produit.etat == "Libre" %}
                    <div class="col-sm-12 col-lg-4">
                            <!-- product card -->
                            <div class="product-item bg-light">
                                <div class="card">
                                    <div class="thumb-content">
                                        <a href="{{ path('single_produit_page', { 'id': produit.id }) }}">
                                            <img class="card-img-top img-fluid" src="{{ asset('/images/salles/' ~ produit.salle.photo) }}" alt="Card image cap">
                                        </a>
                                    </div>

                                    <div class="card-body">
                                        <h4 class="card-title"><a href="">{{ produit.salle.titre }}</a></h4><span class="price">{{ produit.prix | number_format(2, '.', ',') }} €</span>
                                        <ul class="list-inline product-meta">
                                            <li class="list-inline-item">
                                                <a href=""><i class="fa fa-folder-open-o"></i> {{ produit.salle.categorie }}</a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a href=""><i class="fa fa-calendar"></i> {{ produit.getDateArrivee | date('d/m/Y') }} au {{ produit.getDateDepart | date('d/m/Y') }}</a>
                                            </li>
                                        </ul>
                                        <p class="card-text">{{ produit.salle.description }}</p>
                                        <div class="product-ratings">
                                            <ul class="list-inline">
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>




{% endblock %}
